@import "transition-style";

:root{
    --almond: #ffebcd;
}

*{
    color: var(--fontColor);
    font-family: helvetica;
}

.mainVideo{
    max-width: 95vw;
    width: 95vw;
    max-height: 90vh;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 0;
}

body{
    /*font-family: monospace; */
    /*margin: 0;
    width: 100vw;
    height: 100vh;*/
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

header{
    background-color: #2d3436;

}

ul{
    font-family: helvetica;
    z-index: 0;
}

li{
    list-style: circle;
    z-index: 0;
}

.list{
    list-style: square;
    z-index: 0;
}

.dark-theme{
    --fontColor: var(--almond);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      z-index: 2;
    }
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #333;
    text-align: center;
    padding: 2% 3.5%;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  
  .topnav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(white,#333);
    transition: transform 0.25s ease-out;
  }
  
  .topnav a:hover:after{
    transform: scaleX(1);
  }
  
  .topnav a.current{
    font-weight: bold;
    color: #ffebcd;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .pdfView{
    max-width: 80vw;
    width: 80vw;
    height: 200vh;
    max-height: 200vh;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  
  /*@keyframes animStart{
    0% { }
    20%  { z-index:1;\transform: skewY(0deg) translateY(-100%); }
    40%   { transform: skewY(0deg) translateY(0);
 height:100%; z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
    60%   { transform: skewY(0deg) translateY(0);
 height:100%;z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
    80%   { transform: skewY(0deg) translateY(-100%);
 height:60%;z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
    100%   { transform: skewY(0deg) translateY(-50px);
 height:15%;z-index:1; box-shadow: none;}
} */

  @keyframes animStart{
       0% { }
       50%  { z-index:1;\transform: skewY(0deg) translateY(-100%); }
       100%   { transform: skewY(0deg) translateY(-50px);
    height:110%; z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
  } 
  @keyframes animEnd {
    0%   { transform: skewY(0deg) translateY(-50px);
      height:110%; z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
       20%   { transform: skewY(0deg) translateY(-50px);
    height:110%;z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
       50%   { transform: skewY(0deg) translateY(-100%);
    height:60%;z-index:1; box-shadow: 10px 10px 5px #eaeaea;}
       100%   { transform: skewY(0deg) translateY(-50px);
    height:15%;z-index:1; box-shadow: none;}
  }

  .transition {
    position: absolute;
    z-index: 1;
    height:15%;
    width:110%;
    background:#d6d6d6;
    transform: skewY(0deg) translateY(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    margin-left: -10vw;
    padding-left: -10vw;
  }

  .anim-trans-start {
    /*animation: animStart 2s ease-in-out; */
    transition: height 1s ease-in-out;
    height: 110vh;
    }
  
  .anim-trans-end{
    /*animation: animEnd 2s ease-in-out; */
    transition: height 1s ease-in-out;
    height: 15%;
  }